:root{
	--mainColor:#070707;
	--secondaryColor:#020202;

	--borderColor:#1d1520;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(7, 7, 7, 0.8);
	--previewShadow:#050505;


	--buttonColor:#050007;


}
